.btn-group {
    flex-wrap: wrap; 
}
input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom checkbox appearance */
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 6px;
    /* background-color only for content */
    background-clip: content-box;
    border: 1.5px solid #bbbbbb;
    border-radius: 6px;
    background-color: #e7e6e7;
    margin-left: 15px;
    margin-right: 15px;
}

input[type=checkbox]:checked{
    background-color: #17a2b8;
}

input[type=checkbox]:focus{
    outline: none !important;
}

.form-check-label{
    font-size: larger;
    font-weight: bolder;
}