.favoritesCard{
    background-color: #17a2b8!important;
    height: fit-content;
    opacity: .9;
    border-color: #25a4ad!important;
    border-radius: 15px!important;
    border-style: inset!important;
}