.landingMain{
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 64px);
    background-color: #ffc629;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
}

.landingCard {
    width: 40%;
    height: fit-content;
    opacity: .9;
    border-color: #25a4ad!important;
    border-radius: 15px!important;
    border-style: inset!important;
}

.btn {
color:linen;
}