.signup, .login{
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 64px);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.login h2, .signup h2 {
    color: #17a2b8;
    font-size: 36px!important;
    margin-top:10px!important;
}
.loginCard, .signupCard {
    height: fit-content;
    opacity: .9;
    border-color: #25a4ad!important;
    border-radius: 15px!important;
    border-style: inset!important;
    width:30%;
}
.login.btn-primary {
    background-color: #17a2b8!important;
}
.login.btn-primary:hover {
    background-color: #15899b!important;
}
.buildProfileBtn {
    color: white;
    margin: 31px;
    padding: inherit;
    
}