
.userCard{
    border-radius: 15px!important;
    border-style: outset!important;
    border-color: blanchedalmond!important;
    border-width: initial!important;
    background-color: linen;
    color: #3e5d74a5;
}
h2{
    text-align:center;
}
.userImage {
    border-style: outset!important;
}

.badge {
    width: -webkit-fill-available;
}

.smbadge {
    width: 50%;
}