.footer {
    background-color: #e2564c;
    text-align: center;
    font-size: 25px;
    border-top:thick #17a2b8 double;
    color: white;
    height:70px;
}
.collaborators {
    font-size: 10px;
}

.fa-github, .fa-unsplash{
    color: white;

}

.fa-github:hover, .fa-unsplash:hover {
    color:#17a2b8;
    opacity: 70%;
    text-decoration: none;
}