.nav {
    background-color: white;
    border-bottom: 5px groove!important;
    
}
.nav-link {
    color:#17a2b8!important;
}

.nav-link.active {
    background-color: #17a2b8!important;
    color: white!important;
}

.navbar-brand {
    padding: 0!important;
    border-radius: 50%;
}
